.hero_container {
    display: flex;
    border: 1px solid black;
    width: 100vw !important;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    left: 0 !important;
    right: 0 !important;
    height: 90vh;

    margin-top: 100px;

}

.image_container {
    background: red;
}